<div class="legend">
  {{#each @items as |item|}}
    {{#if (eq item.type 'truncate-hint')}}
      <div class="legend__item">
        <PaperIcon @icon="more" @size={{18}}>
          <PaperTooltip @position="top">
            {{t 'app.compare.truncate-hint' count=item.count}}
          </PaperTooltip>
        </PaperIcon>
      </div>
    {{else}}
      <Legend::Item @type={{item.type}} @color={{item.color}} @label={{item.label}} />
    {{/if}}
  {{/each}}
</div>