{{#if @visible}}
  <PaperDialog
    class="flex-50"
    @onClose={{@onClose}}
    @clickOutsideToClose={{true}} >
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>About this application</h2>
        <span class="flex"></span>
        <PaperButton
          @iconButton={{true}}
          @onClick={{@onClose}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <p>
        This app was largely inspired by Benjamin Ooghe Tabanou's <ExtLink @href="//boogheta.github.io/coronavirus-countries/">Coronavirus Country Comparator</ExtLink>.
      </p>
      <h3>Data sources</h3>
      <AboutData />
      <h3>License and developer info</h3>
      <p>
        The code for this app is <ExtLink @href="//github.com/njoyard/corona">available on GitHub</ExtLink> and released under the terms of the <ExtLink @href="//raw.githubusercontent.com/njoyard/corona/master/LICENSE">MIT license</ExtLink>.
      </p>
      <p>
        Made with <PaperIcon @icon="favorite" /> using <ExtLink @href="//emberjs.com">EmberJS</ExtLink>, <ExtLink @href="//miguelcobain.github.io/ember-paper">Ember Paper</ExtLink> and <ExtLink @href="//chartjs.org">ChartJS</ExtLink>.
      </p>
      <p>
        Coronavirus icon courtesy of <ExtLink @href="//www.iconfinder.com/becris">Becris</ExtLink>, shared under the <ExtLink @href="//creativecommons.org/licenses/by-sa/3.0/">Creative Commons CC-BY-SA version 3.0 license</ExtLink>.
      </p>
      <p>
        {{this.versionInfo}}
      </p>
      <p>
        You can see <ExtLink @href="//stats.njoyard.fr">access stats here</ExtLink>. No personal information is recorded (and no cookies are used), the only information kept is: URL, time of access, referrer URL (when available), browser user-agent string, screen size and country (deduced from the IP, but the IP itself is not saved).
      </p>
      <h3>Contact</h3>
      <p>
        Please use <ExtLink @href="//github.com/njoyard/corona/issues">Github Issues</ExtLink> for any issue with this app. You can also reach me <ExtLink @href="http://twitter.com/njoyard">on twitter</ExtLink>.
      </p>
      <h3>Please stay home.</h3>
    </PaperDialogContent>
  </PaperDialog>
{{/if}}