<PaperItem @class={{concat "md-2-line md-long-text chart-list-item" (if @selected " selected")}} @onClick={{@onClick}} as |controls|>
  {{#if this.isCustom}}
    <PaperIcon @icon="stacked_line_chart" />
  {{else}}
    <img src={{this.img}} alt={{this.title}} class="md-avatar">
  {{/if}}

  <div class="md-list-item-text">
    <h3>{{this.title}}</h3>
    <p>
      {{this.description}}
    </p>
  </div>

  {{#if this.isCustom}}
    <div class="md-secondary-container">
      <controls.button @secondary={{true}} @iconButton={{true}} @onClick={{@onEdit}}>
        <PaperIcon @icon="edit" />
      </controls.button>
    </div>
  {{/if}}
</PaperItem>