<div class="chart-container">
  {{#if @title}}
    <h5>
      {{#if @onTitleClicked}}
        <a {{on "click" (fn @onTitleClicked @zone)}}>{{@title}}</a>
      {{else}}
        {{@title}}
      {{/if}}
    </h5>
  {{/if}}

  {{#if this.loading}}
    <PaperProgressCircular />
  {{/if}}

  {{#if this.error}}
    <div class="error">
      {{t this.error}}
    </div>
  {{else}}
    <canvas
      {{did-insert this.createChart}}
      {{did-update this.updateChart @chart @zone}}
      {{will-destroy this.destroyChart}} />
  {{/if}}
</div>
