<PaperItem class={{if @disabled "md-disabled"}}>
  {{#if (and @disabled @disabledTooltip)}}
    <PaperTooltip @position="right">
      {{@disabledTooltip}}
    </PaperTooltip>
  {{/if}}

  <p class={{if @subOption "sub-option"}}>
    <PaperSlider
      @min={{@min}}
      @max={{@max}}
      @value={{@value}}
      @onChange={{@onChange}}
      @disabled={{@disabled}} />
  </p>
</PaperItem>
