<PaperItem class={{if @disabled "md-disabled"}} as |controls|>
  {{#if (and @disabled @disabledTooltip)}}
    <PaperTooltip @position="right">
      {{@disabledTooltip}}
    </PaperTooltip>
  {{/if}}

  <small class={{if @subOption "sub-option"}}>{{yield}}</small>
  <div class="md-secondary-container">
    <controls.switch
      @secondary={{true}}
      @value={{@value}}
      @disabled={{@disabled}}
      @onChange={{@onChange}} />
  </div>
</PaperItem>
