<PaperItem class={{if @disabled "md-disabled"}} as |controls|>
  {{#if (and @disabled @disabledTooltip)}}
    <PaperTooltip @position="right">
      {{@disabledTooltip}}
    </PaperTooltip>
  {{/if}}

  <small>{{yield}}</small>
  <div class="md-secondary-container menu-checkbox">
    <controls.checkbox
      @value={{@value}}
      @secondary={{true}}
      @disabled={{@disabled}}
      @onChange={{@onChange}} />
  </div>
</PaperItem>
