{{#each this.options as |option|}}
  {{#if (string-contains (get option @filterBy) @filter)}}
    {{#let
      (if (and @requiresPopulation (not option.population))
       "No population data for this region"
       (if (and @requiresRecovered (not option.recovered))
        "No recovered data for this region"
        null
       )
      )
      as |disabled|}}
      <PaperItem class={{if disabled "md-disabled"}} as |controls|>
        {{#if disabled}}
          <PaperTooltip @position="right">
            {{disabled}}
          </PaperTooltip>
        {{/if}}

        <small class="region-option-level-{{option.level}}">
          <Swatch @color={{if disabled (hash hue=0 saturation=0 lightness=80) option}} />
          {{option.label}}
        </small>

        <div class="md-secondary-container">
          {{#if option.hasChildren}}
            <controls.button
              @secondary={{true}}
              @iconButton={{true}}
              @onClick={{fn this.toggleChildren option}}>
              <PaperIcon @icon="done_all" />
            </controls.button>
          {{/if}}

          <controls.checkbox
            @value={{option.selected}}
            @secondary={{true}}
            @disabled={{not (is-empty disabled)}}
            @onChange={{fn this.toggle option}} />
        </div>
      </PaperItem>
    {{/let}}
  {{/if}}

  {{#if option.hasChildren}}
    <RegionList
      @options={{option.children}}
      @onToggle={{this.toggle}}
      @onToggleChildren={{this.toggleChildren}}
      @sortBy={{@sortBy}}
      @filterBy={{@filterBy}}
      @filter={{@filter}}
      @requiresRecovered={{@requiresRecovered}}
      @requiresPopulation={{@requiresPopulation}} />
  {{/if}}
{{/each}}
