{{#if (is-empty this.regions)}}
  <PaperItem class="tip">
    <PaperIcon
      @icon="sentiment_dissatisfied"
      @size={{18}} />

    <small class="flex">
      No region matches "{{@filter}}"
    </small>
  </PaperItem>
{{else}}
  {{#each this.regions as |region|}}
    {{#let (region-state region @requiresFields @requiresPopulation) as |state|}}
      <PaperItem class={{if state.disabled "md-disabled"}} as |controls|>
        {{#if state.disabled}}
          <PaperTooltip @position="right">
            {{state.reason}}
          </PaperTooltip>
        {{/if}}

        <small class="region-option-level-{{region.level}}">
          <Swatch @color={{if state.disabled (hash hue=0 saturation=0 lightness=80) region}} />
          {{region.label}}
        </small>

        <div class="md-secondary-container region-controls">
          {{#if @radioMode}}
            <controls.radio
              @value={{region.code}}
              @groupValue={{if region.selected region.code null}}
              @secondary={{true}}
              @disabled={{state.disabled}}
              @onChange={{fn this.select region}} />
          {{else}}
            {{#if region.hasChildren}}
              <controls.button
                @secondary={{true}}
                @iconButton={{true}}
                @disabled={{state.disabled}}
                @onClick={{fn this.toggleChildren region}}>
                <PaperIcon @icon="library_add_check" @size={{18}}>
                  {{#unless state.disabled}}
                    <PaperTooltip @position="right">
                      Toggle all {{pluralize region.subTypeLabel}}
                      {{#if (not-eq region.label "World")}}
                        in {{region.label}}
                      {{/if}}
                    </PaperTooltip>
                  {{/unless}}
                </PaperIcon>
              </controls.button>
            {{/if}}

            <controls.button
              @secondary={{true}}
              @iconButton={{true}}
              @disabled={{state.disabled}}
              @onClick={{fn this.selectOnly region}}>
              <PaperIcon @icon="place" @size={{18}}>
                {{#unless state.disabled}}
                  <PaperTooltip @position="right">
                    Select only {{region.label}}
                  </PaperTooltip>
                {{/unless}}
              </PaperIcon>
            </controls.button>

            <controls.checkbox
              @value={{region.selected}}
              @secondary={{true}}
              @disabled={{state.disabled}}
              @onChange={{fn this.toggle region}} />
          {{/if}}
        </div>
      </PaperItem>
    {{/let}}
  {{/each}}
{{/if}}
