{{#each this.regions as |region|}}
  {{#let (region-state region @requiresField @requiresPopulation) as |state|}}
    <PaperItem class={{if state.disabled "md-disabled"}} as |controls|>
      {{#if state.disabled}}
        <PaperTooltip @position="right">
          {{state.reason}}
        </PaperTooltip>
      {{/if}}

      <small class="region-option-level-{{region.level}}">
        <Swatch @color={{if state.disabled (hash hue=0 saturation=0 lightness=80) region}} />
        {{region.label}}
      </small>

      <div class="md-secondary-container">
        {{#if (and (not @radioMode) region.hasChildren)}}
          <controls.button
            @secondary={{true}}
            @iconButton={{true}}
            @onClick={{fn this.toggleChildren region}}>
            <PaperIcon @icon="done_all" />
          </controls.button>
        {{/if}}

        <controls.checkbox
          @value={{region.selected}}
          @secondary={{true}}
          @disabled={{state.disabled}}
          @onChange={{if @radioMode (fn this.select region) (fn this.toggle region)}} />
      </div>
    </PaperItem>
  {{/let}}
{{/each}}
