{{#if @inline}}
  <span class="zone-breadcrumb">
    <ZoneBreadcrumbsInner @onSelect={{@onSelect}} @zone={{@zone}} />
  </span>
{{else}}
  <h2 class="zone-breadcrumb layout-row layout-nowrap">
    <ZoneBreadcrumbsInner @onSelect={{@onSelect}} @zone={{@zone}} />
  </h2>
{{/if}}