{{#if this.hasChartOptions}}
  <PaperDivider />
  <PaperSubheader>{{t 'chartOptions'}}</PaperSubheader>
{{/if}}

{{#if this.hasMultiOption}}
  <PaperItem @class="md-2-line md-long-text" as |controls|>
    <div class="md-list-item-text">
      <h3>{{t 'options.multi.title'}}</h3>
      <p>{{t 'options.multi.hint'}}</p>
    </div>
    <div class="md-secondary-container">
      <controls.checkbox @value={{this.multi}} @secondary={{true}} @onChange={{fn (mut this.multi)}} />
    </div>
  </PaperItem>
{{/if}}

{{#if this.hasPerCapitaOption}}
  <PaperItem @class="md-2-line md-long-text" as |controls|>
    <div class="md-list-item-text">
      <h3>{{t 'options.perCapita.title'}}</h3>
      <p>{{t 'options.perCapita.hint'}}</p>
    </div>
    <div class="md-secondary-container">
      <controls.checkbox @value={{this.perCapita}} @secondary={{true}} @onChange={{fn (mut this.perCapita)}} />
    </div>
  </PaperItem>
{{/if}}

{{#if this.hasRangeOption}}
  <PaperItem @class="md-2-line md-long-text slider-text-container" as |controls|>
    <div class="md-list-item-text">
      <h3>{{t 'options.range.title'}}</h3>
      <p>
        {{#if (and this.displayStart this.displayEnd)}}
          {{t 'options.range.between' from=this.displayStart to=this.displayEnd}}
        {{else if this.displayStart}}
          {{t 'options.range.from' from=this.displayStart}}
        {{else if this.displayEnd}}
          {{t 'options.range.to' to=this.displayEnd}}
        {{else}}
          {{t 'options.range.all'}}
        {{/if}}
      </p>
    </div>

    {{#if (or this.displayStart this.displayEnd)}}
      <div class="md-secondary-container">
        <controls.button @iconButton={{true}} @onClick={{this.resetRange}}>
          <PaperIcon @icon="clear" @size={{18}}>
            <PaperTooltip @position="top">
              {{t 'options.range.reset'}}
            </PaperTooltip>
          </PaperIcon>
        </controls.button>
      </div>
    {{/if}}
  </PaperItem>

  <PaperItem @class="md-2-line md-long-text slider-container">
    <PaperDualSlider
      @class="flex"
      @min={{this.rangeMin}}
      @max={{this.rangeMax}}
      @step={{this.rangeStep}}
      @start={{this.sliderStart}}
      @end={{this.sliderEnd}}
      @onChange={{this.setRange}}
      @onSettled={{this.commitRange}}
      @minDistance={{this.rangeMinDistance}} />
  </PaperItem>
{{/if}}
