<div class="flex flex-grow charts-container">
  {{#if this.zoneColumns}}
    <PaperGridList @cols={{this.zoneColumns}} @rowHeight="4:3" @gutter="8px" as |grid|>
      {{#each this.zones as |zone|}}
        <grid.tile>
          <Chart
            @zone={{zone}}
            @chart={{this.chart}}
            @title={{zone.label}}
            @options={{this.options}}
            @onTitleClicked={{this.selectZone}} />
        </grid.tile>
      {{/each}}
    </PaperGridList>
  {{else}}
    <Chart
      @zone={{this.zones.firstObject}}
      @chart={{this.chart}}
      @title={{this.title}}
      @options={{this.options}}
      @onTitleClicked={{this.selectZone}}/>
  {{/if}}
</div>
