<PaperDialog @class="about-dialog" @onClose={{@onClose}} @clickOutsideToClose={{true}} @escapeToClose={{true}}>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>{{t 'about.title'}}</h2>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{@onClose}}>
        <PaperIcon @icon="close" />
      </PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>

  <PaperDialogContent>
    <p class="preformatted">{{t 'about.text'}}</p>

    <h3>{{t 'about.sources'}}</h3>

    <ul>
      {{#each-in this.sources as |key link|}}
        <li><a href="{{link}}" target="_blank" rel="noopener noreferrer">{{t (concat 'about.sourceNames.' key)}}</a></li>
      {{/each-in}}
    </ul>

    <p>
      {{!-- template-lint-disable no-triple-curlies --}}
      {{{t 'about.opendata' htmlSafe=true}}}
    </p>

    <h3>{{t 'about.devInfo.title'}}</h3>
    <p>
      {{!-- template-lint-disable no-triple-curlies --}}
      {{{t 'about.devInfo.repo' htmlSafe=true}}}
    </p>
    <p>
      {{!-- template-lint-disable no-triple-curlies --}}
      {{{t 'about.devInfo.logo' htmlSafe=true}}}
    </p>
    <p>
      {{!-- template-lint-disable no-triple-curlies --}}
      {{{t 'about.stats' htmlSafe=true}}}
    </p>

    <p><i>{{t 'about.built' buildDate=this.buildDate}}</i></p>
  </PaperDialogContent>


  <PaperDialogActions @class="layout-row">
    <span class="flex"></span>
    <PaperButton @onClick={{@onClose}}>
      {{t 'about.close'}}
    </PaperButton>
  </PaperDialogActions>
</PaperDialog>

