{{#if this.showAboutDialog}}
  <PaperDialog
    class="flex-50"
    @onClose={{fn (mut this.showAboutDialog) false}}
    @clickOutsideToClose={{true}} >
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>About this application</h2>
        <span class="flex"></span>
        <PaperButton
          @iconButton={{true}}
          @onClick={{fn (mut this.showAboutDialog) false}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <p>
        This app was largely inspired by Benjamin Ooghe Tabanou's <a target="_blank" rel="noopener noreferrer" href="//boogheta.github.io/coronavirus-countries/">Coronavirus Country Comparator</a>.
      </p>
      <h3>Data sources</h3>
      <p>
        Data comes from the <a target="_blank" rel="noopener noreferrer" href="//systems.jhu.edu/">Center for Systems Science and Engineering (CSSE)</a> at Johns Hopkins University.  It is <a target="_blank" rel="noopener noreferrer" href="//github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series">released openly</a> and updated daily.  They used it to build a <a target="_blank" rel="noopener noreferrer" href="//gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">very nice dashboard</a>, please also check it out.
      </p>
      <p>
        The app uses the latest version available at the time of loading. Just refresh the page to get updated data.
      </p>
      <p>
        Finally, please note that this data uses officially reported figures, and is only indicative of the actual situation.  It comes from various organizations and countries, and may use different counting methods. Actual figures are most likely higher.
      </p>
      <h3>License and developer info</h3>
      <p>
        The code for this app is <a target="_blank" rel="noopener noreferrer" href="//github.com/njoyard/corona">available on GitHub</a> and released under the terms of the <a target="_blank" rel="noopener noreferrer" href="//raw.githubusercontent.com/njoyard/corona/master/LICENSE">MIT license</a>.
      </p>
      <p>
        Made with <PaperIcon @icon="favorite" /> using <a target="_blank" rel="noopener noreferrer" href="//emberjs.com">EmberJS</a>, <a target="_blank" rel="noopener noreferrer" href="//miguelcobain.github.io/ember-paper">Ember Paper</a> and <a target="_blank" rel="noopener noreferrer" href="//chartjs.org">ChartJS</a>.
      </p>
      <p>
        Coronavirus icon courtesy of <a target="_blank" rel="noopener noreferrer" href="//www.iconfinder.com/becris">Becris</a>, shared under the <a target="_blank" rel="noopener noreferrer" href="//creativecommons.org/licenses/by-sa/3.0/">Creative Commons CC-BY-SA version 3.0 license</a>.
      </p>
      <p>
        {{this.versionInfo}}
      </p>
      <h3>Please stay home.</h3>
    </PaperDialogContent>
  </PaperDialog>
{{/if}}

{{#if this.showSourcesDialog}}
  <PaperDialog
    class="flex-50"
    @onClose={{fn (mut this.showSourcesDialog) false}}
    @clickOutsideToClose={{true}} >
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Switch data sources</h2>
        <span class="flex"></span>
        <PaperButton
          @iconButton={{true}}
          @onClick={{fn (mut this.showSourcesDialog) false}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <h3>Available data sources</h3>

      <p>
        Data comes from the <a target="_blank" rel="noopener noreferrer" href="//systems.jhu.edu/">Center for Systems Science and Engineering (CSSE)</a> at Johns Hopkins University.  It is <a target="_blank" rel="noopener noreferrer" href="//github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series">released openly</a> and updated daily.  They used it to build a <a target="_blank" rel="noopener noreferrer" href="//gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">very nice dashboard</a>, please also check it out.
      </p>
      <p>
        The app uses the latest version available at the time of loading. Just refresh the page to get updated data.
      </p>
      <p>
        Finally, please note that this data uses officially reported figures, and is only indicative of the actual situation.  It comes from various organizations and countries, and may use different counting methods. Actual figures are most likely higher.
      </p>

      <PaperList>
        {{#each-in this.data.datasets as |key dataset|}}
          <PaperItem class="md-2-line md-long-text" as |controls|>
            <div class="md-list-item-text">
              <h3>{{dataset.title}}</h3>
              <p>{{dataset.description}}</p>
            </div>
            <div class="md-secondary-container">
              <controls.button
                @secondary={{true}}
                @raised={{true}}
                @disabled={{eq key this.dataset}}
                @onClick={{fn this.selectDataset key}}>
                {{#if (eq key this.dataset)}}Current{{else}}Load{{/if}}
              </controls.button>
            </div>
          </PaperItem>
        {{/each-in}}
      </PaperList>
    </PaperDialogContent>
  </PaperDialog>
{{/if}}

{{#if this.downloadURL}}
  <PaperToast
    @duration={{false}}
    @position="bottom left"
    @swipeToClose={{true}}
    @escapeToClose={{true}}
    @onClose={{fn (mut this.downloadURL) null}}
    as |toast|>
    <toast.text>
      Click
      <a href="{{this.downloadURL}}" download="corona-chart.png">here</a>
      to download the image.
    </toast.text>
    <PaperButton
      @accent={{true}}
      @onClick={{fn (mut this.downloadURL) null}}>
      Close
    </PaperButton>
  </PaperToast>
{{/if}}

<PaperSidenavContainer class="layout-fill site-nav-container">
  <PaperSidenav
    class="md-whiteframe"
    @lockedOpen={{true}}>

    <PaperToolbar as |toolbar|>
      <toolbar.tools>
        <svg class="toolbar-icon" viewBox="0 0 64 64">
          <use xlink:href="assets/corona.svg#corona"></use>
        </svg>
        <h1>Covid-19 Charts</h1>
      </toolbar.tools>
    </PaperToolbar>

    <PaperContent>
      <PaperList>
        <PaperSubheader>Vertical axis</PaperSubheader>

        <PaperItem as |controls|>
          <small>Confirmed cases</small>
          <div class="md-secondary-container">
            <controls.radio
              @groupValue={{this.ySelection}}
              @value="confirmed"
              @secondary={{true}}
              @onChange={{fn (mut this.ySelection)}} />
          </div>
        </PaperItem>

        <PaperItem as |controls|>
          <small>Deaths</small>
          <div class="md-secondary-container">
            <controls.radio
              @groupValue={{this.ySelection}}
              @value="deceased"
              @secondary={{true}}
              @onChange={{fn (mut this.ySelection)}} />
          </div>
        </PaperItem>

        <PaperItem as |controls|>
          <small>Daily change</small>
          <div class="md-secondary-container">
            <controls.switch
              @secondary={{true}}
              @value={{this.yChange}}
              @onChange={{fn (mut this.yChange)}} />
          </div>
        </PaperItem>

        <PaperItem as |controls|>
          <small>Logarithmic scale</small>
          <div class="md-secondary-container">
            <controls.switch
              @secondary={{true}}
              @value={{this.yLog}}
              @onChange={{fn (mut this.yLog)}} />
          </div>
        </PaperItem>

        <PaperDivider />

        <PaperSubheader>Horizontal axis</PaperSubheader>

        <PaperItem class={{if this.xLog "md-disabled"}} as |controls|>
          <small>Date</small>
          <div class="md-secondary-container">
            <controls.radio
              @groupValue={{this.xSelection}}
              @value="date"
              @disabled={{this.xLog}}
              @secondary={{true}}
              @onChange={{fn (mut this.xSelection)}} />
          </div>
        </PaperItem>

        <PaperItem class={{if this.xLog "md-disabled"}} as |controls|>
          <small>Day since {{this.xStartOffset}}th case</small>
          <div class="md-secondary-container">
            <controls.radio
              @groupValue={{this.xSelection}}
              @value="start"
              @disabled={{this.xLog}}
              @secondary={{true}}
              @onChange={{fn (mut this.xSelection)}} />
          </div>
        </PaperItem>

        <PaperItem class={{if this.stacked "md-disabled"}} as |controls|>
          <small>Confirmed cases</small>
          <div class="md-secondary-container">
            <controls.radio
              @groupValue={{this.xSelection}}
              @value="confirmed"
              @secondary={{true}}
              @disabled={{this.stacked}}
              @onChange={{fn (mut this.xSelection)}} />
          </div>
        </PaperItem>

        <PaperItem class={{if (not-eq this.xSelection "confirmed") "md-disabled"}} as |controls|>
          <small>Logarithmic scale</small>
          <div class="md-secondary-container">
            <controls.switch
              @secondary={{true}}
              @value={{this.xLog}}
              @disabled={{not-eq this.xSelection "confirmed"}}
              @onChange={{fn (mut this.xLog)}} />
          </div>
        </PaperItem>

        <PaperDivider />

        <PaperSubheader>Chart options</PaperSubheader>

        <PaperItem as |controls|>
          <small>Show legend</small>
          <div class="md-secondary-container">
            <controls.switch
              @secondary={{true}}
              @value={{this.showLegend}}
              @onChange={{fn (mut this.showLegend)}} />
          </div>
        </PaperItem>

        <PaperItem class={{if (eq this.xSelection "confirmed") "md-disabled"}} as |controls|>
          <small>Stacked</small>
          <div class="md-secondary-container">
            <controls.switch
              @secondary={{true}}
              @value={{this.stacked}}
              @disabled={{eq this.xSelection "confirmed"}}
              @onChange={{fn (mut this.stacked)}} />
          </div>
        </PaperItem>

        <PaperDivider />

        <PaperSubheader>Regions</PaperSubheader>

        <PaperItem>
          <p>
            <PaperInput
              @label="Filter regions"
              @value={{this.regionFilter}}
              @onChange={{fn (mut this.regionFilter)}} />
          </p>
          <div class="md-secondary-container align-with-input">
            {{#if this.regionFilter}}
              <PaperButton
                @iconButton={{true}}
                @onClick={{fn (mut this.regionFilter) ""}} >
                <PaperIcon @icon="clear">
                  <PaperTooltip @position="top">
                    Clear region filter
                  </PaperTooltip>
                </PaperIcon>
              </PaperButton>
            {{/if}}

            <PaperButton
              @iconButton={{true}}
              @onClick={{fn this.resetRegions}} >
              <PaperIcon @icon="replay">
                <PaperTooltip @position="top">
                  Reset region list to World only
                </PaperTooltip>
              </PaperIcon>
            </PaperButton>
          </div>
        </PaperItem>

        {{#each this.filteredRegions as |option|}}
          <PaperItem as |controls|>
            <small class="region-option-level-{{option.level}}">
              <Swatch @color={{option}} />
              {{option.label}}
            </small>
            <div class="md-secondary-container">
              {{#if option.hasChildren}}
                <controls.button
                  @secondary={{true}}
                  @iconButton={{true}}
                  @onClick={{fn this.toggleChildren option}} >
                  <PaperIcon @icon="done_all">
                    <PaperTooltip @position="top">
                      Toggle all {{#if (eq option.level 0)}}countries{{else}}provinces of {{option.label}}{{/if}}
                    </PaperTooltip>
                  </PaperIcon>
                </controls.button>
              {{/if}}
              <controls.checkbox
                @value={{option.selected}}
                @secondary={{true}}
                @onChange={{fn this.toggleRegion option}} />
            </div>
          </PaperItem>
        {{/each}}
        
      </PaperList>
    </PaperContent>
  </PaperSidenav>

  <PaperCard class="flex layout-fill layout-column layout-stretch" as |card|>
    <card.content class="flex">
      {{#if this.hasSelection}}
        <EmberChart
          @type="line"
          @data={{this.chartData}}
          @options={{this.chartOptions}} />
      {{else}}
        Please select at least one region
      {{/if}}
    </card.content>
  </PaperCard>
</PaperSidenavContainer>

<div class="buttons">
  <PaperButton
    @fab={{true}}
    @onClick={{fn this.downloadChart}}>
    <PaperIcon @icon="save_alt">
      <PaperTooltip @position="top">
        Download chart as an image
      </PaperTooltip>
    </PaperIcon>
  </PaperButton>

  <PaperButton
    @fab={{true}}
    @onClick={{fn (mut this.showSourcesDialog)}}>
    <PaperIcon @icon="list">
      <PaperTooltip @position="top">
        Switch data sources
      </PaperTooltip>
    </PaperIcon>
  </PaperButton>

  <PaperButton
    @fab={{true}}
    @onClick={{fn (mut this.showAboutDialog)}} >
    <PaperIcon @icon="help" />
  </PaperButton>
</div>
