<PaperSidenavContainer class="layout-fill site-nav-container">
  <PaperSidenav
    @class="md-whiteframe-z2"
    @open={{this.sideNavOpen}}
    @onToggle={{fn (mut this.sideNavOpen)}}
    @lockedOpen="gt-sm">

    <PaperToolbar as |toolbar|>
      <toolbar.tools>
        <svg class="toolbar-icon" viewBox="0 0 64 64">
          <use xlink:href="assets/corona.svg#corona"></use>
        </svg>
        <h1>{{t 'app.title'}}</h1>
      </toolbar.tools>
    </PaperToolbar>

    <PaperContent>
      <PaperList>
        <PaperSubheader>{{t 'app.chartTypes'}}</PaperSubheader>
        <PaperItem @class={{concat "md-2-line md-long-text chart-list-item" (if this.isCompareChart " selected")}} @onClick={{unless this.isCompareChart this.showCompareChart}}>
          <img src='assets/chart-compare.png' alt={{t 'charts.compare.title'}} class="md-avatar">
          <div class="md-list-item-text">
            <h3>{{t 'charts.compare.title'}}</h3>
            <p>
              {{t 'charts.compare.description'}}
            </p>
          </div>
        </PaperItem>

        {{#if this.isCompareChart}}
          {{#each this.compareFields as |field|}}
            <PaperItem @class={{concat "chart-list-item compare-field" (if (eq this.compareField field) " selected")}} @onClick={{fn this.showCompareChart field}}>
              <p>{{t (concat 'fields.' field '.short')}}</p>
            </PaperItem>
          {{/each}}
        {{/if}}

        <ChartList @charts={{this.charts}} />
        <ChartList @charts={{this.customCharts}} />
        <PaperItem @class="md-2-line md-long-text chart-list-item" @onClick={{this.createChart}}>
          <PaperIcon @icon="addchart" />
          <div class="md-list-item-text">
            <h3>{{t 'custom.add'}}</h3>
          </div>
        </PaperItem>

        {{outlet 'chart-options'}}

        <PaperDivider />
        <PaperSubheader>{{t 'app.about.menuHeader'}}</PaperSubheader>
        <PaperItem @onClick={{fn (mut this.showAbout) true}}>
          <PaperIcon @icon="help" />
          <p>{{t 'app.about.menuEntry'}}</p>
        </PaperItem>

        {{#each this.links as |link|}}
          <a class="menu-link" href={{link.href}} rel="noopener noreferrer" target="_blank">
            <PaperItem @onClick={{this.noop}}>
              {{#if link.icon}}
                {{#if (eq link.icon 'github')}}
                  <GithubIcon />
                {{else}}
                  <PaperIcon @icon={{link.icon}} />
                {{/if}}
              {{/if}}

              <p>{{t (concat 'app.links.' link.id)}}</p>

              <div class="md-secondary-container">
                <PaperIcon @icon="launch" @size={{18}} />
              </div>
            </PaperItem>
          </a>
        {{/each}}
      </PaperList>
    </PaperContent>
  </PaperSidenav>

  <div class="flex layout-column layout-fill site-content-container">
    {{outlet}}
  </div>
</PaperSidenavContainer>

<About @show={{this.showAbout}} @onClose={{fn (mut this.showAbout) false}} />
<ModalsContainer/>
