{{#if this.showAboutDialog}}
  <PaperDialog
    class="flex-50"
    @onClose={{fn (mut this.showAboutDialog) false}}
    @clickOutsideToClose={{true}} >
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>About this application</h2>
        <span class="flex"></span>
        <PaperButton
          @iconButton={{true}}
          @onClick={{fn (mut this.showAboutDialog) false}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <p>
        This app was largely inspired by Benjamin Ooghe Tabanou's <a target="_blank" rel="noopener noreferrer" href="//boogheta.github.io/coronavirus-countries/">Coronavirus Country Comparator</a>.
      </p>
      <h3>Data sources</h3>
      <AboutData />
      <h3>License and developer info</h3>
      <p>
        The code for this app is <a target="_blank" rel="noopener noreferrer" href="//github.com/njoyard/corona">available on GitHub</a> and released under the terms of the <a target="_blank" rel="noopener noreferrer" href="//raw.githubusercontent.com/njoyard/corona/master/LICENSE">MIT license</a>.
      </p>
      <p>
        Made with <PaperIcon @icon="favorite" /> using <a target="_blank" rel="noopener noreferrer" href="//emberjs.com">EmberJS</a>, <a target="_blank" rel="noopener noreferrer" href="//miguelcobain.github.io/ember-paper">Ember Paper</a> and <a target="_blank" rel="noopener noreferrer" href="//chartjs.org">ChartJS</a>.
      </p>
      <p>
        Coronavirus icon courtesy of <a target="_blank" rel="noopener noreferrer" href="//www.iconfinder.com/becris">Becris</a>, shared under the <a target="_blank" rel="noopener noreferrer" href="//creativecommons.org/licenses/by-sa/3.0/">Creative Commons CC-BY-SA version 3.0 license</a>.
      </p>
      <p>
        {{this.versionInfo}}
      </p>
      <p>
        You can see <a target="_blank" rel="noopener noreferrer" href="//stats.njoyard.fr">access stats here</a>. No personal information is recorded (and no cookies are used), the only information kept is: URL, time of access, referrer URL (when available), browser user-agent string, screen size and country (deduced from the IP, but the IP itself is not saved).
      </p>
      <h3>Contact</h3>
      <p>
        Please use <a target="_blank" rel="noopener noreferrer" href="//github.com/njoyard/corona/issues">Github Issues</a> for any issue with this app. You can also reach me <a target="_blank" rel="noopener noreferrer" href="http://twitter.com/MeringuemanKe">on twitter</a>.
      </p>
      <h3>Please stay home.</h3>
    </PaperDialogContent>
  </PaperDialog>
{{/if}}

{{#if this.showSourcesDialog}}
  <PaperDialog
    class="flex-50"
    @onClose={{fn (mut this.showSourcesDialog) false}}
    @clickOutsideToClose={{true}} >
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Switch data sources</h2>
        <span class="flex"></span>
        <PaperButton
          @iconButton={{true}}
          @onClick={{fn (mut this.showSourcesDialog) false}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <h3>Available data sources</h3>

      <AboutData />

      <PaperList>
        {{#each-in this.data.datasets as |key dataset|}}
          <PaperItem class="md-2-line md-long-text" as |controls|>
            <div class="md-list-item-text">
              <h3>{{dataset.title}}</h3>
              <p>{{dataset.description}}</p>
            </div>
            <div class="md-secondary-container">
              <controls.button
                @secondary={{true}}
                @raised={{true}}
                @disabled={{eq key this.dataset}}
                @onClick={{fn this.selectDataset key}}>
                {{#if (eq key this.dataset)}}Current{{else}}Load{{/if}}
              </controls.button>
            </div>
          </PaperItem>
        {{/each-in}}
      </PaperList>
    </PaperDialogContent>
  </PaperDialog>
{{/if}}

{{#if this.showPresetDialog}}
  <PaperDialog
    class="flex-50"
    @onClose={{fn (mut this.showPresetDialog) false}}
    @clickOutsideToClose={{true}} >
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Select a chart preset</h2>
        <span class="flex"></span>
        <PaperButton
          @iconButton={{true}}
          @onClick={{fn (mut this.showPresetDialog) false}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <div class="layout-row layout-wrap layout-align-center-stretch layout-xs-column">
        {{#each-in this.presets as |id preset|}}
          <PaperCard
            class="preset-card flex-46 flex-gt-sm-23"
            as |card|>
            <card.image
              @src="assets/preset-{{id}}.png"
              @alt={{preset.title}}
              @title={{preset.title}} />
            <card.title as |title|>
              <title.text as |text|>
                <text.headline>
                  {{preset.title}}
                </text.headline>
              </title.text>
            </card.title>
            <card.content>
              {{preset.description}}
            </card.content>
            <card.actions>
              <PaperButton
                @onClick={{fn this.selectPreset preset}}>
                Apply
              </PaperButton>
            </card.actions>
          </PaperCard>
        {{/each-in}}
      </div>
    </PaperDialogContent>
  </PaperDialog>
{{/if}}


{{#if this.showShareDialog}}
  <PaperDialog
    class="flex-50"
    @onClose={{fn (mut this.showShareDialog) false}}
    @clickOutsideToClose={{true}} >
    <PaperToolbar>
      <PaperToolbarTools>
      <h2>Share this chart</h2>
        <span class="flex"></span>
        <PaperButton
          @iconButton={{true}}
          @onClick={{fn (mut this.showShareDialog) false}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <p>
        You may use the following link to share the current chart. When opened, the link will show the same graph configuration with the latest available data.
      </p>
      <div class="layout layout-row">
        <PaperInput
          class="flex share-input"
          @readonly={{true}}
          @onChange={{null}}
          @value={{this.shareURL}} />
      </div>
    </PaperDialogContent>
  </PaperDialog>
{{/if}}

{{#if this.downloadURL}}
  <PaperToast
    @duration={{false}}
    @position="bottom left"
    @swipeToClose={{true}}
    @escapeToClose={{true}}
    @onClose={{fn (mut this.downloadURL) null}}
    as |toast|>
    <toast.text>
      Click
      <a href="{{this.downloadURL}}" download="corona-chart.png">here</a>
      to download the image.
    </toast.text>
    <PaperButton
      @accent={{true}}
      @onClick={{fn (mut this.downloadURL) null}}>
      Close
    </PaperButton>
  </PaperToast>
{{/if}}

<PaperSidenavContainer class="layout-fill site-nav-container {{if this.media.isNarrow "narrow-container"}}">
  <PaperSidenav
    @class="md-whiteframe-z2"
    @open={{this.sideNavOpen}}
    @lockedOpen={{this.sideNavLockedOpen}}>

    <PaperToolbar as |toolbar|>
      <toolbar.tools>
        <svg class="toolbar-icon" viewBox="0 0 64 64">
          <use xlink:href="assets/corona.svg#corona"></use>
        </svg>
        <h1>Covid-19 Charts</h1>
        {{#if this.media.isNarrow}}
          <span class="flex"></span>
          <PaperButton @iconButton={{true}} @onClick={{fn (mut this.sideNavOpen) false}}>
            <PaperIcon @icon="chevron_left" />
          </PaperButton>
        {{/if}}
      </toolbar.tools>
    </PaperToolbar>

    <PaperContent>
      <PaperList>
        <PaperSubheader>Vertical axis</PaperSubheader>

        <MenuRadio
          @onChange={{fn (mut this.ySelection)}}
          @groupValue={{this.ySelection}}
          @value="confirmed">
          Confirmed cases
        </MenuRadio>

        <MenuRadio
          @onChange={{fn (mut this.ySelection)}}
          @groupValue={{this.ySelection}}
          @value="deceased">
          Deaths
        </MenuRadio>

        {{#if (not-eq this.dataset "us")}}
          <MenuRadio
            @onChange={{fn (mut this.ySelection)}}
            @groupValue={{this.ySelection}}
            @value="recovered">
            Recovered
          </MenuRadio>

          <MenuRadio
            @onChange={{fn (mut this.ySelection)}}
            @groupValue={{this.ySelection}}
            @value="active">
            Active (estimated)
            <PaperIcon @icon="help" @size={{18}}>
              <PaperTooltip @position="right">
                Computed by subtracting deaths and recovered cases from confirmed cases
              </PaperTooltip>
            </PaperIcon>
          </MenuRadio>
        {{/if}}

        <MenuSwitch
          @value={{this.yRatio}}
          @onChange={{fn (mut this.yRatio)}}>
          Per capita
        </MenuSwitch>

        <MenuSwitch
          @value={{this.yChange}}
          @onChange={{fn (mut this.yChange)}}>
          Daily change
        </MenuSwitch>

        {{#if this.yChange}}
          <MenuSwitch
            @value={{this.yMovingAverage}}
            @onChange={{fn (mut this.yMovingAverage)}}
            @subOption={{true}}>
            7-day moving average
          </MenuSwitch>
        {{/if}}

        <MenuSwitch
          @value={{this.yLog}}
          @onChange={{fn (mut this.yLog)}}>
          Logarithmic scale
        </MenuSwitch>

        <PaperDivider />

        <PaperSubheader>Horizontal axis</PaperSubheader>

        <MenuRadio
          @onChange={{fn this.setXSelection}}
          @groupValue={{this.xSelection}}
          @value="date"
          @disabled={{this.xLog}}
          @disabledTooltip="Unavailable when using logarithmic scale on the X axis">
          Date
        </MenuRadio>

        <MenuRadio
          @onChange={{fn this.setXSelection}}
          @groupValue={{this.xSelection}}
          @value="start"
          @disabled={{this.xLog}}
          @disabledTooltip="Unavailable when using logarithmic scale on the X axis">
          Day since {{this.xStartOffsetOrdinal}} case
        </MenuRadio>

        {{#if (eq this.xSelection "start")}}
          <MenuSlider
            @onChange={{fn (mut this.xStartOffset)}}
            @value={{this.xStartOffset}}
            @min={{0}}
            @max={{9}}
            @subOption={{true}} />
        {{/if}}

        <MenuRadio
          @onChange={{fn this.setXSelection}}
          @groupValue={{this.xSelection}}
          @value="confirmed"
          @disabled={{this.stacked}}
          @disabledTooltip="Unavailable with a stacked chart">
          Confirmed cases
        </MenuRadio>

        <MenuSwitch
          @value={{this.xLog}}
          @onChange={{fn this.setXLog}}
          @disabled={{not-eq this.xSelection "confirmed"}}
          @disabledTooltip="Only available when showing confirmed cases on the X axis">
          Logarithmic scale
        </MenuSwitch>

        <PaperDivider />

        <PaperSubheader>Chart options</PaperSubheader>

        <MenuSwitch
          @value={{this.showLegend}}
          @onChange={{fn (mut this.showLegend)}}>
          Show legend
        </MenuSwitch>

        <MenuSwitch
          @value={{this.stacked}}
          @onChange={{fn (mut this.stacked)}}
          @disabled={{eq this.xSelection "confirmed"}}
          @disabledTooltip="Only available when using date or days since {{this.xStartOffset}}th case on the X axis">
          Stacked chart
        </MenuSwitch>

        <PaperDivider />

        <PaperSubheader>Regions</PaperSubheader>

        <PaperItem>
          <PaperInput
            class="flex-100"
            @label="Find regions"
            @value={{this.regionFilter}}
            @onChange={{fn (mut this.regionFilter)}} />

          {{#if this.regionFilter}}
            <div class="md-secondary-container align-with-input">
              <PaperButton
                @iconButton={{true}}
                @onClick={{fn (mut this.regionFilter) ""}} >
                <PaperIcon @icon="clear">
                  <PaperTooltip @position="top">
                    Clear region filter
                  </PaperTooltip>
                </PaperIcon>
              </PaperButton>
            </div>
          {{/if}}
        </PaperItem>

        <PaperItem>
          <p>
            <PaperTabs
              class="sorting-tabs"
              @selected={{this.regionSortBy}}
              @onChange={{fn (mut this.regionSortBy)}}
              @stretch={{true}}
              @primary={{false}}
              as |tabs|>
              <tabs.tab @disabled={{true}}>
                Sort by
              </tabs.tab>
              <tabs.tab @value="-deceased">
                Deaths
              </tabs.tab>
              <tabs.tab @value="-confirmed">
                Cases
              </tabs.tab>
              <tabs.tab @value="label">
                Name
              </tabs.tab>
            </PaperTabs>
          </p>
        </PaperItem>

        <RegionList
          @options={{array this.rootOption}}
          @onToggle={{this.toggleRegion}}
          @onToggleChildren={{this.toggleChildren}}
          @sortBy={{this.regionSortBy}}
          @filterBy="longLabel"
          @filter={{this.regionFilter}}
          @requiresPopulation={{this.yRatio}}
          @requiresRecovered={{or (eq this.ySelection "recovered") (eq this.ySelection "active")}} />
      </PaperList>
    </PaperContent>
  </PaperSidenav>

  <PaperCard class="flex layout-fill layout-column layout-stretch" as |card|>
    <card.content class="flex">
      {{#if this.hasSelection}}
        {{!-- Force recreation of the chart when switching xLog to workaround a bug in chartjs-plugin-crosshair --}}
        {{#if this.xLog}}
          <Chart
            @type="line"
            @data={{this.chartData}}
            @options={{this.chartOptions}}
            @plugins={{this.chartPlugins}}
            @onChart={{fn this.chartChanged}} />
        {{else}}
          <Chart
            @type="line"
            @data={{this.chartData}}
            @options={{this.chartOptions}}
            @plugins={{this.chartPlugins}}
            @onChart={{fn this.chartChanged}} />
        {{/if}}
      {{else}}
        Please select at least one region
      {{/if}}
    </card.content>
  </PaperCard>
</PaperSidenavContainer>

{{#if (and this.media.isNarrow (not this.sideNavOpen))}}
  <PaperButton
    class="open-sidenav"
    @fab={{true}}
    @primary={{true}}
    @onClick={{fn (mut this.sideNavOpen) true}}>
    <PaperIcon @icon="chevron_right" />
  </PaperButton>
{{/if}}

<PaperSpeedDial
  class="buttons"
  @direction="up"
  @animation="scale"
  @open={{this.speedDialOpen}}
  @onToggle={{fn (mut this.speedDialOpen)}}
  as |dial|>

  <dial.trigger>
    <PaperButton @fab={{true}}>
      <PaperIcon @icon="menu" />
    </PaperButton>
  </dial.trigger>

  <dial.actions as |actions|>
    <actions.action>
      <PaperButton
        @mini={{true}}
        @onClick={{fn (mut this.showAboutDialog) true}} >
        <PaperIcon @icon="help">
          <PaperTooltip @position="left">
            About
          </PaperTooltip>
        </PaperIcon>
      </PaperButton>
    </actions.action>

    <actions.action>
      <PaperButton
        @mini={{true}}
        @onClick={{fn (mut this.showSourcesDialog) true}}>
        <PaperIcon @icon="list">
          <PaperTooltip @position="left">
            Switch data sources
          </PaperTooltip>
        </PaperIcon>
      </PaperButton>
    </actions.action>

    <actions.action>
      <PaperButton
        @mini={{true}}
        @onClick={{fn (mut this.showPresetDialog) true}}>
        <PaperIcon @icon="insert_chart">
          <PaperTooltip @position="left">
            Chart configuration presets
          </PaperTooltip>
        </PaperIcon>
      </PaperButton>
    </actions.action>

    <actions.action>
      <PaperButton
        @mini={{true}}
        @onClick={{fn this.downloadChart}}>
        <PaperIcon @icon="save_alt">
          <PaperTooltip @position="left">
            Download chart as an image
          </PaperTooltip>
        </PaperIcon>
      </PaperButton>
    </actions.action>

    <actions.action>
      <PaperButton
        @mini={{true}}
        @onClick={{fn this.share}}>
        <PaperIcon @icon="share">
          <PaperTooltip @position="left">
            Share current chart
          </PaperTooltip>
        </PaperIcon>
      </PaperButton>
    </actions.action>
  </dial.actions>
</PaperSpeedDial>
